# Self-hosted code, forked code, and code not hosted on MediaWiki.org
[submodule "AWS"]
	path = AWS
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-AWS

[submodule "CommonsMetadata"]
	path = CommonsMetadata
	url = https://git.qiuwen.net.cn/Fork/mediawiki-extensions-CommonsMetadata
	branch = REL1_41

[submodule "Matomo"]
	path = Matomo
	url = https://git.qiuwen.net.cn/Fork/mediawiki-extensions-Matomo

[submodule "NewSignupPage"]
	path = NewSignupPage
	url = https://git.qiuwen.net.cn/Fork/mediawiki-extensions-NewSignupPage

[submodule "PinyinSort"]
	path = PinyinSort
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-PinyinSort

[submodule "PluggableAuth"]
	path = PluggableAuth
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-PluggableAuth

[submodule "RNRSHook"]
	path = RNRSHook
	url = https://git.qiuwen.net.cn/Qiuwen/mediawiki-extensions-RNRSHook

[submodule "UploadWizard"]
	path = UploadWizard
	url = https://git.qiuwen.net.cn/Fork/mediawiki-extensions-UploadWizard

[submodule "ReplaceText"]
	path = ReplaceText
	url = https://git.qiuwen.net.cn/Fork/mediawiki-extensions-ReplaceText

[submodule "cldr"]
	path = cldr
	url = https://git.qiuwen.net.cn/Fork/mediawiki-extensions-cldr

# Code hosted on MediaWiki.org
[submodule "AbuseFilter"]
	path = AbuseFilter
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-AbuseFilter
	branch = REL1_41

[submodule "AdvancedSearch"]
	path = AdvancedSearch
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-AdvancedSearch
	branch = REL1_41

[submodule "AntiSpoof"]
	path = AntiSpoof
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-AntiSpoof
	branch = REL1_41

[submodule "BetaFeatures"]
	path = BetaFeatures
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-BetaFeatures
	branch = REL1_41

[submodule "CategoryTree"]
	path = CategoryTree
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-CategoryTree
	branch = REL1_41

[submodule "CheckUser"]
	path = CheckUser
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-CheckUser
	branch = REL1_41

[submodule "CirrusSearch"]
	path = CirrusSearch
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-CirrusSearch
	branch = REL1_41

[submodule "Cite"]
	path = Cite
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-Cite
	branch = REL1_41

[submodule "CiteThisPage"]
	path = CiteThisPage
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-CiteThisPage
	branch = REL1_41

[submodule "Citoid"]
	path = Citoid
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-Citoid
	branch = REL1_41

[submodule "CodeEditor"]
	path = CodeEditor
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-CodeEditor
	branch = REL1_41

[submodule "CodeMirror"]
	path = CodeMirror
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-CodeMirror
	branch = REL1_41

[submodule "CollapsibleVector"]
	path = CollapsibleVector
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-CollapsibleVector
	branch = REL1_41

[submodule "ConfirmEdit"]
	path = ConfirmEdit
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-ConfirmEdit
	branch = REL1_41

[submodule "CreateUserPage"]
	path = CreateUserPage
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-CreateUserPage
	branch = REL1_41

[submodule "Disambiguator"]
	path = Disambiguator
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-Disambiguator
	branch = REL1_41

[submodule "DiscussionTools"]
	path = DiscussionTools
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-DiscussionTools
	branch = REL1_41

[submodule "Echo"]
	path = Echo
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-Echo
	branch = REL1_41

[submodule "Elastica"]
	path = Elastica
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-Elastica
	branch = REL1_41

[submodule "FileImporter"]
	path = FileImporter
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-FileImporter
	branch = REL1_41

[submodule "Graph"]
	path = Graph
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-Graph
	branch = REL1_41

[submodule "ImageMap"]
	path = ImageMap
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-ImageMap
	branch = REL1_41

[submodule "InputBox"]
	path = InputBox
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-InputBox
	branch = REL1_41

[submodule "Interwiki"]
	path = Interwiki
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-Interwiki
	branch = REL1_41

[submodule "JsonConfig"]
	path = JsonConfig
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-JsonConfig
	branch = REL1_41

[submodule "LabeledSectionTransclusion"]
	path = LabeledSectionTransclusion
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-LabeledSectionTransclusion
	branch = REL1_41

[submodule "LDAPAuthentication2"]
	path = LDAPAuthentication2
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-LDAPAuthentication2
	branch = REL1_41

[submodule "LDAPAuthorization"]
	path = LDAPAuthorization
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-LDAPAuthorization
	branch = REL1_41

[submodule "LDAPGroups"]
	path = LDAPGroups
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-LDAPGroups
	branch = REL1_41

[submodule "LDAPProvider"]
	path = LDAPProvider
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-LDAPProvider
	branch = REL1_41

[submodule "LDAPUserInfo"]
	path = LDAPUserInfo
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-LDAPUserInfo
	branch = REL1_41

[submodule "Linter"]
	path = Linter
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-Linter
	branch = REL1_41

[submodule "LocalisationUpdate"]
	path = LocalisationUpdate
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-LocalisationUpdate
	branch = REL1_41

[submodule "Lockdown"]
	path = Lockdown
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-Lockdown
	branch = REL1_41

[submodule "LoginNotify"]
	path = LoginNotify
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-LoginNotify
	branch = REL1_41

[submodule "MassEditRegex"]
	path = MassEditRegex
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-MassEditRegex
	branch = REL1_41

[submodule "MassMessage"]
	path = MassMessage
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-MassMessage
	branch = REL1_41

[submodule "MediaSearch"]
	path = MediaSearch
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-MediaSearch
	branch = REL1_41

[submodule "MsUpload"]
	path = MsUpload
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-MsUpload
	branch = REL1_41

[submodule "MultimediaViewer"]
	path = MultimediaViewer
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-MultimediaViewer
	branch = REL1_41

[submodule "NewUserMessage"]
	path = NewUserMessage
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-NewUserMessage
	branch = REL1_41

[submodule "Nuke"]
	path = Nuke
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-Nuke
	branch = REL1_41

[submodule "OAuth"]
	path = OAuth
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-OAuth
	branch = REL1_41

[submodule "OATHAuth"]
	path = OATHAuth
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-OATHAuth
	branch = REL1_41

[submodule "OrphanedTalkPages"]
	path = OrphanedTalkPages
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-OrphanedTalkPages
	branch = REL1_41

[submodule "PageImages"]
	path = PageImages
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-PageImages
	branch = REL1_41

[submodule "PagedTiffHandler"]
	path = PagedTiffHandler
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-PagedTiffHandler
	branch = REL1_41

[submodule "ParserFunctions"]
	path = ParserFunctions
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-ParserFunctions
	branch = REL1_41

[submodule "PdfHandler"]
	path = PdfHandler
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-PdfHandler
	branch = REL1_41

[submodule "Poem"]
	path = Poem
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-Poem
	branch = REL1_41

[submodule "Popups"]
	path = Popups
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-Popups
	branch = REL1_41

[submodule "Renameuser"]
	path = Renameuser
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-Renameuser
	branch = REL1_41

[submodule "RelatedArticles"]
	path = RelatedArticles
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-RelatedArticles
	branch = REL1_41

[submodule "SandboxLink"]
	path = SandboxLink
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-SandboxLink
	branch = REL1_41

[submodule "Scribunto"]
	path = Scribunto
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-Scribunto
	branch = REL1_41

[submodule "SpamBlacklist"]
	path = SpamBlacklist
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-SpamBlacklist
	branch = REL1_41

[submodule "SyntaxHighlight_GeSHi"]
	path = SyntaxHighlight_GeSHi
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-SyntaxHighlight_GeSHi
	branch = REL1_41

[submodule "TemplateData"]
	path = TemplateData
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-TemplateData
	branch = REL1_41

[submodule "TemplateSandbox"]
	path = TemplateSandbox
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-TemplateSandbox
	branch = REL1_41

[submodule "TemplateStyles"]
	path = TemplateStyles
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-TemplateStyles
	branch = REL1_41

[submodule "TextExtracts"]
	path = TextExtracts
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-TextExtracts
	branch = REL1_41

[submodule "TimedMediaHandler"]
	path = TimedMediaHandler
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-TimedMediaHandler
	branch = REL1_41

[submodule "timeline"]
	path = timeline
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-timeline
	branch = REL1_41

[submodule "TitleBlacklist"]
	path = TitleBlacklist
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-TitleBlacklist
	branch = REL1_41

[submodule "UserMerge"]
	path = UserMerge
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-UserMerge
	branch = REL1_41

[submodule "wikihiero"]
	path = wikihiero
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-wikihiero
	branch = REL1_41

[submodule "DarkMode"]
	path = DarkMode
	url = https://git.qiuwen.net.cn/Fork/mediawiki-extensions-DarkMode

[submodule "RevisionSlider"]
	path = RevisionSlider
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-RevisionSlider
	branch = REL1_41

[submodule "TwoColConflict"]
	path = TwoColConflict
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-TwoColConflict
	branch = REL1_41
[submodule "ContactPage"]
	path = ContactPage
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-ContactPage
	branch = REL1_41

[submodule "ArticleMetaDescription"]
	path = ArticleMetaDescription
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-ArticleMetaDescription
	branch = REL1_41

[submodule "CollapsibleSidebar"]
	path = CollapsibleSidebar
	url = https://git.qiuwen.net.cn/Fork/mediawiki-extensions-CollapsibleSidebar
	branch = master

[submodule "Thanks"]
	path = Thanks
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-Thanks
	branch = REL1_41

[submodule "GuidedTour"]
	path = GuidedTour
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-GuidedTour
	branch = REL1_41

[submodule "Math"]
	path = Math
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-Math
	branch = REL1_41

[submodule "ShortUrl"]
	path = ShortUrl
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-ShortUrl
	branch = REL1_41

[submodule "UrlShortener"]
	path = UrlShortener
	url = https://git.qiuwen.net.cn/mirror/mediawiki-extensions-UrlShortener
	branch = REL1_41

[submodule "TemplateWizard"]
	path = TemplateWizard
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-TemplateWizard
	branch = REL1_41

[submodule "MatomoNew"]
	path = MatomoNew
	url = https://git.qiuwen.net.cn/Fork/mediawiki-extensions-MatomoNew

[submodule "VisualEditor"]
	path = VisualEditor
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-VisualEditor
	branch = REL1_41

[submodule "GrowthExperiments"]
	path = GrowthExperiments
	url = https://git.qiuwen.net.cn/YSARXIV/mediawiki-extensions-GrowthExperiments
	branch = REL1_41

[submodule "IsCompatible"]
	path = IsCompatible
	url = https://git.qiuwen.net.cn/Fork/mediawiki-extensions-IsCompatible

[submodule "ApprovedRevs"]
	path = ApprovedRevs
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-ApprovedRevs
	branch = REL1_41

[submodule "QiuwenMessages"]
	path = QiuwenMessages
	url = https://git.qiuwen.net.cn/Fork/mediawiki-extensions-QiuwenMessages

[submodule "Gadgets"]
	path = Gadgets
	url = https://git.qiuwen.net.cn/Fork/mediawiki-extensions-Gadgets
	branch = REL1_41

[submodule "TemplateStylesExtender"]
	path = TemplateStylesExtender
	url = https://git.qiuwen.net.cn/YSARXIV/mediawiki-extensions-TemplateStylesExtender

[submodule "GlobalUserrights"]
	path = GlobalUserrights
	url = https://git.qiuwen.net.cn/mirror/mediawiki-extensions-GlobalUserrights
	branch = REL1_41

[submodule "GlobalBlocking"]
	path = GlobalBlocking
	url = https://git.qiuwen.net.cn/mirror/mediawiki-extensions-GlobalBlocking
	branch = REL1_41

[submodule "GlobalPreferences"]
	path = GlobalPreferences
	url = https://git.qiuwen.net.cn/mirror/mediawiki-extensions-GlobalPreferences
	branch = REL1_41

[submodule "ArticleCreationWorkflow"]
	path = ArticleCreationWorkflow
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-ArticleCreationWorkflow
	branch = REL1_41

[submodule "Score"]
	path = Score
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-Score
	branch = REL1_41

[submodule "CentralAuth"]
	path = CentralAuth
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-CentralAuth
	branch = REL1_41

[submodule "3D"]
	path = 3D
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-3D
	branch = REL1_41

[submodule "SecureLinkFixer"]
	path = SecureLinkFixer
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-SecureLinkFixer
	branch = REL1_41

[submodule "SocialProfile"]
	path = SocialProfile
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-SocialProfile
	branch = master

[submodule "WikiEditor"]
	path = WikiEditor
	url = https://git.qiuwen.net.cn/Mirror/mediawiki-extensions-WikiEditor
	branch = REL1_41